<div class="post_content">
    <div class="row">
        <div class="col-md-12">
            <b>نویسنده</b>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ article.author.profile_image.url }}" alt="">
            </div>
            <div class="col-md-9">
                {% if article.author.get_full_name %}
                    <a href="">{{ article.author.get_full_name }}</a>
                {% else %}
                    <a href="">{{ article.author.username }}</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 text-justify">
            {{ article.author.about_user|linebreaks }}
        </div>
    </div>
</div>