{% extends 'shared/admin-layout.html' %}
{% load thumbnail %}

{% block title %}
    لیست کامنت ها در صفحه ادمین
{% endblock %}

{% block page-title %}
    لیست کامنت ها <span style="font-size: 0.6em; color: gray;">(تعداد کامنت ها : {{ comment_count }})</span>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="box-title">جدول لیست کامنت ها</h3>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <form action="{% url 'admin-comment-page' %}" method="get">
                                        <div class="col-md-4">
                                            <select name="status_filter" id="id_status" class="form-control">
                                                <option value="">وضعیت</option>
                                                <option value="publish">انتشار</option>
                                                <option value="draft">پیش نویس</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <select name="article_filter" id="id_author" class="form-control">
                                                <option value="">مقاله</option>
                                                {% for article in articles %}
                                                    <option value="{{ article.title }}">
                                                        {{ article.title }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="submit" class="btn btn-success" value="جستوجو">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>نویسنده</th>
                                <th>مقاله</th>
                                <th>وضعیت</th>
                                <th>متن</th>
                                <th>تنظیمات</th>
                            </tr>
                            {% for comment in page_obj %}
                                <tr>
                                    <td>
                                        {% if comment.author.get_full_name %}
                                            {{ comment.author.get_full_name }}
                                        {% else %}
                                            {{ comment.author.username }}
                                        {% endif %}
                                    </td>
                                    <td>{{ comment.article.title|truncatechars_html:"20" }}</td>
                                    <td>
                                        {% if comment.is_publish %}
                                            <span class="label label-success">فعال</span>
                                        {% else %}
                                            <span class="label label-danger">غیر فعال</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ comment.text|truncatechars_html:"10" }}</td>
                                    <td>
                                        <a onclick="deleteComment({{ comment.id }})" class="badge btn-danger" title="حذف کامنت">
                                            حذف
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                {% if page_obj.has_other_pages %}
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}&article_filter={{ article_filter }}&status_filter={{ status_filter }}">«</a>
                                </li>
                            {% endif %}
                            {% for pageNumber in page_obj.paginator.page_range %}
                                <li>
                                    <a href="?page={{ pageNumber }}&article_filter={{ article_filter }}&status_filter={{ status_filter }}">{{ pageNumber }}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}&article_filter={{ article_filter }}&status_filter={{ status_filter }}">»</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
