{% extends 'account_module/account_layout.html' %}

{% block form_title %}
    Change Password
{% endblock %}


{% block action %}
    {% url 'change-password-page' code=code %}
{% endblock %}

{% block content %}
    <div class="wrap-input100 validate-input" data-validate="password">
        {{ change_password_form.password }}
        <span class="focus-input100" data-placeholder="password"></span>
    </div>
    <div class="wrap-input100 validate-input" data-validate="confirm password">
        {{ change_password_form.confirm_password }}
        <span class="focus-input100" data-placeholder="confirm password"></span>
    </div>
{% endblock %}

{% block btn_text %}
    Change
{% endblock %}

