{% load poll_extras %}

<div class="col-md-4">
    <div class="r-sidebar">
        <div class="special-posts">
            <span class="title">محبوب ترین</span><br>
            {% for article in most_favorite_articles %}
                <div class="special-box">
                    <a href="{% url 'article-detail-page' slug=article.slug %}">
                        <figure>
                            <img src="{{ article.image.url }}" alt="">
                            <figcaption class="txt">
                                <h4>{{ article.title }}</h4>
                                <span><i class="fa fa-calendar-o"></i> {{ article.create_date|jalali_date_humanize }}</span>
                                <span><i class="fa fa-heart"></i> {{ article.articlelikes_set.all.count }}</span>
                            </figcaption>
                            <figcaption class="link"><i class="fa fa-external-link"></i>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>