{% extends 'shared/admin-layout.html' %}
{% load thumbnail %}

{% block title %}
    لیست مقالات در صفحه ادمین
{% endblock %}

{% block page-title %}
    لیست مقالات <span style="font-size: 0.6em; color: gray;">(تعداد مقالات : {{ article_count }})</span>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="box-title">جدول لیست مقالات</h3>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <form action="{% url 'admin-article-list-page' %}" method="get">
                                        <div class="col-md-4">
                                            <input type="text" name="search" class="form-control"
                                                   placeholder="جستجو">
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control pull-left" name="status_filter" id="">
                                                <option value="">وضعیت</option>
                                                <option value="publish">منتشر شده</option>
                                                <option value="draft">پیش نویس</option>
                                                <option value="back">برگشت داده شده</option>
                                                <option value="lock">در حال برسی</option>
                                            </select>
                                        </div>
                                        {% if request.user.is_superuser %}
                                            <div class="col-md-4">
                                                <select class="form-control pull-left" name="author_filter" id="">
                                                    <option value="">نویسنده</option>
                                                    {% for author in authors %}
                                                        <option value="{{ author.username }}">{{ author.get_full_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>عکس</th>
                                <th>کاربر</th>
                                <th>تاریخ</th>
                                <th>وضعیت</th>
                                <th>عنوان</th>
                                <th>متن</th>
                                <th>تنظیمات</th>
                            </tr>
                            {% for article in page_obj %}
                                <tr>
                                    <td>
                                        {% thumbnail article.image '80x80' crop='center' quality=85 as img %}
                                            <img src="{{ img.url }}" alt="">
                                        {% endthumbnail %}
                                    </td>
                                    <td>
                                        <a href="">
                                            {% if article.author.get_full_name %}
                                                {{ article.author.get_full_name }}
                                            {% else %}
                                                {{ article.author.username }}
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>۱۵ مرداد ۱۳۹۶</td>
                                    <td>
                                        {% if article.status == 'publish' %}
                                            <span class="label label-success">منتشر شده</span>
                                        {% elif article.status == 'draft' %}
                                            <span class="label label-info">پیش نویس</span>
                                        {% elif article.status == 'lock' %}
                                            <span class="label label-primary">در حال برسی</span>
                                        {% elif article.status == 'back' %}
                                            <span class="label label-warning">برگشت داده شده</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ article.title }}</td>
                                    <td>
                                        {{ article.text|truncatechars_html:'150' }}
                                    </td>
                                    <td>
                                        <a href="" class="badge btn-info" title="ویرایش مقاله">
                                            ویرایش
                                        </a>
                                        <a href="" class="badge btn-danger" title="حذف مقاله">
                                            حذف
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                {% if page_obj.has_other_pages %}
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}&search={{ search_text }}&author_filter={{ author_filter }}&status_filter={{ status_filter }}">«</a>
                                </li>
                            {% endif %}
                            {% for pageNumber in page_obj.paginator.page_range %}
                                <li>
                                    <a href="?page={{ pageNumber }}&search={{ search_text }}&author_filter={{ author_filter }}&status_filter={{ status_filter }}">{{ pageNumber }}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}&search={{ search_text }}&author_filter={{ author_filter }}&status_filter={{ status_filter }}">»</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
