{% extends 'shared/admin-layout.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    article create
{% endblock %}

{% block page-title %}
    {% if request.resolver_match.url_name == 'admin-article-create-page' %}
        اضافه کردن مقاله جدید
    {% elif request.resolver_match.url_name == 'admin-article-edit-page' %}
        ویرایش کردن مقاله
    {% endif %}

{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title tetxt">
                            {% if request.resolver_match.url_name == 'admin-article-create-page' %}
                                فرم افزودن مقاله
                            {% elif request.resolver_match.url_name == 'admin-article-edit-page' %}
                                فرم ویرایش مقاله
                            {% endif %}
                        </h3>
                    </div>
                    <div class="box-body">
                        <form action="{% url 'admin-article-create-page' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <input type="text" name="title" class="form-control" placeholder="عنوان مقاله">
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="slug" class="form-control" placeholder="اسلاگ مقاله">
                            </div>
                            <div class="col-md-12">
                                <input type="file" accept="image/*" class="form-control" name="image">
                            </div>
                            <div class="col-md-12">
                                <select required name="category" id="id_category" multiple class="form-control">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12">
                                <select name="author" id="id_author" class="form-control">
                                    <option value="">نویسنده</option>
                                    {% for author in authors %}
                                        <option value="{{ author.id }}">{{ author.get_full_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12">
                                <select name="status" id="id_status" class="form-control">
                                    <option value="">وضعیت</option>
                                    <option value="publish">انتشار</option>
                                    <option value="draft">پیش نویس</option>
                                    <option value="lock">آماده برای برسی</option>
                                    <option value="back">برگشت داده شده</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="id_is_special">آیا این مقاله ویژه است؟</label>
                                <input type="checkbox" name="is_special" id="id_is_special">
                            </div>
                            <div class="col-md-12">
                                <textarea rows="8" name="text" class="form-control"
                                          placeholder="متن اصلی مقاله"></textarea>
                            </div>
                            <div class="box-footer">
                                <div class="col-md-12">
                                    <input type="submit" value="ثبت مقاله">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'lib/admin_lte/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'lib/admin_lte/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/admin_lte/bower_components/fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'lib/admin_lte/dist/js/adminlte.min.js' %}"></script>
    <script src="{% static 'lib/admin_lte/dist/js/demo.js' %}"></script>
    <script src="{% static 'lib/admin_lte/bower_components/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'lib/admin_lte/bower_components/tinymce/tinymce.min.js' %}"></script>
    <script>
        tinymce.init({
            selector: 'textarea#55x',
            plugins: 'advlist autolink link lists preview table code pagebreak',
            menubar: false,
            language: 'fa',
            height: 300,
            relative_urls: false,
            toolbar: 'undo redo | removeformat preview code | fontsizeselect bullist numlist | alignleft aligncenter alignright alignjustify | bold italic | pagebreak table link',
        });
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('editor1')
            //bootstrap WYSIHTML5 - text editor
            $('.textarea').wysihtml5()
        })
    </script>
{% endblock %}