{% extends 'shared/admin-layout.html' %}

{% block title %}
    تغییر رمز عبور
{% endblock %}

{% block page-title %}
    تغییر کلمه عبور
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="row">
                        <div style="padding: 30px;">
                            <form action="{% url 'admin-user-change-password-page' pk=request.user.id %}" method="post">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    {{ form.password }}
                                    {{ form.password.errors }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.new_password }}
                                    {{ form.new_password.errors }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.confirm_password }}
                                    {{ form.confirm_password.errors }}
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-success" value="تغییر پسورد">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}