{% load thumbnail %}
{% load poll_extras %}

<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'admin-home-page' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">پنل</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>کنترل پنل مدیریت</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="{% url 'home-page' %}">نمایش سایت</a>
                </li>
                {% if no_view_comments %}
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-danger">{{ no_view_comment_count }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">{{ no_view_comment_count }} پیام خوانده نشده</li>
                            <li>
                                <ul class="menu">
                                    {% for no_view_comment in no_view_comments %}
                                        <li>
                                            <a>
                                                <div class="pull-right">
                                                    {% thumbnail no_view_comment.author.profile_image '30x30' crop='center' quality=80 as img %}
                                                        <img src="{{ img.url }}" class="img-circle"
                                                             alt="User Image">
                                                    {% endthumbnail %}
                                                </div>
                                                <h4>
                                                    {% if no_view_comment.author.get_full_name %}
                                                        {{ no_view_comment.author.get_full_name }}
                                                    {% else %}
                                                        {{ no_view_comment.author.username }}
                                                    {% endif %}
                                                    <small><i class="fa fa-clock-o"></i> {{ no_view_comment.date|jalali_date_humanize }}</small>
                                                </h4>
                                                <p>{{ no_view_comment.text|truncatechars_html:'16' }}</p>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="footer"><a href="{% url 'admin-comment-page' %}">نمایش تمام پیام ها</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">۱۰</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">۱۰ اعلان جدید</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> ۵ کاربر جدید ثبت نام کردند
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-warning text-yellow"></i> اخطار دقت کنید
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-red"></i> ۴ کاربر جدید ثبت نام کردند
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-cart text-green"></i> ۲۵ سفارش جدید
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user text-red"></i> نام کاربریتان را تغییر دادید
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">نمایش همه</a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                {% if no_view_tickets %}
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-ticket"></i>
                            <span class="label label-danger">{{ no_view_ticket_count }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">{{ no_view_ticket_count }} تیکت خوانده نشده</li>
                            <li>
                                <ul class="menu">
                                    {% for no_view_ticket in no_view_tickets %}
                                        <li>
                                            <a>
                                                <h4>
                                                    {{ no_view_ticket.name }}
                                                    <small><i class="fa fa-clock-o"></i> {{ no_view_ticket.date|jalali_date_humanize }}</small>
                                                </h4>
                                                <p>{{ no_view_ticket.text|truncatechars_html:'16' }}</p>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="footer"><a href="{% url 'admin-ticket-list-page' %}">نمایش تمام تیکت ها</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% thumbnail request.user.profile_image "160x160" crop='center' quality=70 as img %}
                            <img src="{{ img.url }}" class="user-image" alt="User Image">
                        {% endthumbnail %}
                        <span class="hidden-xs">
                            {% if request.user.get_full_name %}
                                {{ request.user.get_full_name }}
                            {% else %}
                                {{ request.user.username }}
                            {% endif %}
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            {% thumbnail request.user.profile_image "160x160" crop='center' quality=70 as img %}
                                <img src="{{ img.url }}" class="user-image" alt="User Image">
                            {% endthumbnail %}
                            <p>
                                {% if request.user.get_full_name %}
                                    {{ request.user.get_full_name }}
                                {% else %}
                                    {{ request.user.username }}
                                {% endif %}
                                <small>
                                    {% if request.user.is_superuser %}
                                        مدیر کل سایت
                                    {% elif request.user.is_author %}
                                        نویسنده مقالات سایت
                                    {% else %}
                                        کاربر عادی
                                    {% endif %}
                                </small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">صفحه من</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">مقالات</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">دوستان</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="{% url 'admin-user-detail-page' pk=request.user.id %}"
                                   class="btn btn-success btn-flat">پروفایل</a>
                            </div>
                            <div class="pull-left">
                                <a href="{% url 'logout-page' %}" class="btn btn-success btn-flat">خروج</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>